mysql.cnf
.idea/
.vscode/
db.sqlite3
*.pyc
*_initial.py
main.*.css
runserver.sh
*_bk
less
db.*
static/images/upload_imgs/*
mainApp/migrations/*
.DS_STORE
node_modules
gulpfile*
package-lock.json
initions.sh
mainApp/migrations/0001_initial.py
