  //- - var align = _align ? _align : "plate_left-align"; url('#{imageUrl}/#{img_src}'
| {% load staticfiles %}
| {% for item in plate_desc %}
- var plate_class = 'plate_left-align'
.box.plate(class='#{plate_class}')
  .row
    .col-md-6.col-xs-12.plate__img-container
      .plate__img-preview(style="background-image: url('/{{ item.image }}')")
    .col-md-6.col-xs-12.plate__description-container
      .plate__description
        h2.header {{ item.header }}
        | {% autoescape off %}
        p.description {{ item.plate_text }}
        | {% endautoescape %}
        .plate__more-btn-container
          a.plate__more-btn
            i.fa.fa-plus-circle
| {% endfor %}
