mixin plate_new(img_src, header)
  .plate_new
    .plate_new__img-preview(style="background-image: url('#{imageUrl}/#{img_src}')")
    .plate_new__description
      .plate_new__description_text #{header}