// $cl-main-gray: rgba(0, 0, 0, .5);
$cl-main-gray: rgb(58, 54, 54);
$cl-elements-gray: rgb(66, 65, 65);
$cl-socials-gray: rgb(32, 22, 0);
$cl-half-black: rgba(0, 0, 0, .5);
$cl-atm-red: rgb(235, 67, 63);
$cl-default-text: rgb(255, 255, 255);
$main-font: 'MontserratRegular';