@import "variable";
@import "media-requests";
@import "fonts";
@import "parallax";
@import "navigation";
@import "navigation_mobile";
@import "footer";
@import "reserv_widget";
@import "bbcode";

section {
  .description {
    padding-top: 1em; //   padding-left: 4.0em;
    .description__title {
      .title {
        text-align: center;
        word-break: break-word;
        position: relative;
        display: inline-block;
        text-transform: uppercase; // font-size: 2em;
        letter-spacing: 9px;
        margin-bottom: 45px;
        line-height: 1.5em;
        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          border-top: 3px solid rgb(178, 31, 36);
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
        } // &::after {
        //   content: "";
        //   position: absolute;
        //   bottom: -8px;
        //   border-top: 3px solid rgb(178, 31, 36);
        //   left: 50%;
        //   width: 100%;
        //   transform: translateX(-50%);
        //   -webkit-transform: translateX(-50%);
        //   -moz-transform: translateX(-50%);
        //   -ms-transform: translateX(-50%);
        //   -o-transform: translateX(-50%);
        // }
      }
    }
    .description__text {
      line-height: 2em;
      font-size: 1.1em;
      &::first-letter {
        margin-left: 1em;
      }
    }
  }
}