body {
  position: relative;
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}


/** NAVIGATION */
.navigation {
  position: absolute;
  z-index: 1001;
  width: 100%;
  clear: both;
  top: -500px;
}
nav {
  margin-top: 15px;
  background-color: rgba(91, 91, 91, 0.9);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}
nav > * {
  text-align: center;
}
nav .fa {
  margin-right: 5px;
}
nav .logo img {
  width: 70%;
}
nav ul.nav {
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-family: Comfortaa;
  font-weight: 700;
}
nav ul.nav li {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #FFFFFF;
}
nav ul.nav li:last-child {
  border-right: none;
}
nav ul.nav li a {
  font-size: 14px;
  color: #C7C7C7 !important;
  transition: all 0.5s ease;
}
nav ul.nav li a:hover {
  background-color: transparent;
  color: #FFFFFF !important;
}
nav ul.nav li a:focus {
  background-color: transparent;
}

nav .address {
  text-align: center;
  color: #C7C7C7;
}
nav .address .city {
  font-size: 24px;
  font-family: Comfortaa;
  font-weight: 700;
}
nav .address .city .fa-map-marker {
  color: #EA423E;
  font-size: 30px;
}
nav .address .street {
  text-align: center;
  border-bottom: 2px solid #C7C7C7;
  font-size: 15px;
  padding-bottom: 3px;
}
nav .address .phone,
.footer .phone {
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  padding-top: 5px;
}
/** FIRST BACKGROUND */
.background-paralax {
  position: relative;
  min-height: 890px;
  background-size: 200%;
  /* background-image: url('../images/fon1.png');
  background-size: 150%;
  background-position: 50% 30%;
  background-repeat: no-repeat; */
  /* transition: background-position 1.5s ease; */
}
.background-paralax img {
  width: 100%;
}
.background-paralax .slogan {
  position: absolute;
  width: 100%;
  clear: both;
  top: 30%;
  opacity: 0;
  /* right: -100%; */
  /* transition: right 1s ease-in; */
}
.background-paralax .content {
  float: right;
  clear: both;
  text-align: right;
  border-right: 7px solid #424141;
  padding-right: 1em;

  color: #FFFFFF;
  font-weight: bolder;
  font-size: 32px;
  font-family: Comfortaa;
  font-weight: 700;
}

.main-content {
  z-index: 1000;
  padding-top: 70px;
  padding-bottom: 120px;
}

/** SCENERY */
.scenery {
  position: relative;
  margin-top: 70px;
}
.scenery .carousel-control .fa-chevron-left,
.scenery .carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 5;
  font-size: 50px;
  display: inline-block;
}
.scenery .carousel-control .fa-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.scenery .carousel-control .fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}
#scenery-carousel {
  background-color: rgb(91, 91, 91);
  padding: 30px;
}
#scenery-carousel > .carousel-inner > .item > img {
  width: 100%;
  max-height: 500px;
  margin: -10px;
}

#scenery-carousel .carousel-indicators {
  position: absolute;
  bottom: 3px;
  right: 30px;
  list-style: none;
  text-align: center;
  margin-bottom: 0;
}
#scenery-carousel .carousel-indicators li {
  display: inline-block;
  cursor: pointer;
  background-color: #FFFFFF;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  transition: background-color 1s ease;
}
#scenery-carousel .carousel-indicators li.active {
  background-color: #EA423E !important;
}

/* EVENTS */
.events {
  margin-top: 70px;
}
.event > .content {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.event > .content .image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px;
}
.event > .content > .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(91, 91, 91, 0.9);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  transition: all 0.5s ease;
}

.event > .content > .description > span {
  font-size: 20px;
  font-family: Comfortaa;
  font-weight: 700;
  color: #C7C7C7;
  transition: all 0.5s ease;
}
.event:hover > .content > .description {
  padding-bottom: 25px;
}
.event:hover > .content > .description > span {
  font-size: 25px;
  color: #FFFFFF;
}

/* TEAM */
.our-team {
  background-image: url('../images/fon3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 15px;
  padding-top: 70px;
  font-family: Comfortaa;
  font-weight: 400;
}
.team {
  color: #C7C7C7;
  margin-bottom: 30px;
}

/* FOOTER */
.footer {
  margin-left: 0;
  margin-right: 0;
  padding: 30px;
  background-color: #424141;
  border-radius: 5px;
  font-family: Comfortaa;
  font-weight: 400;
}

.footer * {
    color: #C7C7C7;
}

.footer .fa-icon {
  font-size: 32px;
}

.footer .socials,
.footer .site-map,
.footer .contacts {
  font-size: 20px;
}
.footer .socials .fa {
  text-decoration: none;
  margin: 15px;
}

.footer a {
  text-decoration: none;
}

.footer ul {
  padding-left: 0;
}

.footer .site-map-ul,
.footer .address {
  padding: 10px 0 0 0;
  font-size: 14px;
}

.footer .phone {
  padding: 0;
}

.footer li{
  list-style-type: none;
}


/* .carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}

.carousel-indicators {
  bottom: 20px;
} */
@media (min-width: 992px) and (max-width: 1199px) {
  nav ul.nav {
      padding-left: 5px;
  }

  nav .logo img {
    padding-top: 7px;
  }

  nav .address .street {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  nav {
    padding-top: 10px;
  }

  nav ul.nav {
      padding-left: 0px;
      padding-right: 0;

  }
  nav ul.nav li a {
    font-size: 12px;
    padding: 8px;
    font-weight: 700;
  }

  nav .logo img {
    padding-top: 7px;
    width: 95%;
  }

  nav .address .street {
    font-size: 10px;
  }
  nav .address .phone,
  .footer .phone{
    font-size: 14px;
  }

  .footer {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  .footer .site-map-ul,
  .footer {
    font-size: 12px;
  }

  .footer .address {
    font-size: 11px;
  }
}