﻿<!-- #region Jssor Slider Begin -->
<!-- Generator: Jssor Slider Maker -->
{#<script src="/jssor/jssor.slider-27.1.0.min.js" type="text/javascript"></script>#}
{% load static from staticfiles %}

<script type="text/javascript" src="{% static '/javascripts/darkhalls_slider.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/darkhalls_slider.css' %}">

<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:720px;height:480px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-004-double-tail-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
        <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="{% static '/images/darkhalls/double-tail-spin.svg' %}" />
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:720px;height:480px;overflow:hidden;">
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/vnngleljqlm.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/vnngleljqlm-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/zweor-qu4wc.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/zweor-qu4wc-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/inmheu6cjvi.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/inmheu6cjvi-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/utj-8tiecr0.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/utj-8tiecr0-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/ow3pnir8zvk.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/ow3pnir8zvk-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/grnhc7eikte.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/grnhc7eikte-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/mumn-oox-qq.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/mumn-oox-qq-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/rljbtl0o6cq.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/rljbtl0o6cq-s120x80.jpg' %}" />
        </div>
        <div data-p="150.00">
            <img data-u="image" src="{% static '/images/darkhalls/sdh6wggqlds.jpg' %}" />
            <img data-u="thumb" src="{% static '/images/darkhalls/sdh6wggqlds-s120x80.jpg' %}" />
        </div>
    </div>
    <!-- Thumbnail Navigator -->
    <div data-u="thumbnavigator" class="jssort052" style="position:absolute;left:0px;bottom:0px;width:720px;height:100px;" data-autocenter="1" data-scale-bottom="0.75">
        <div data-u="slides">
            <div data-u="prototype" class="p" style="width:120px;height:80px;">
                <div data-u="thumbnailtemplate" class="t"></div>
            </div>
        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb061" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i" style="width:16px;height:16px;">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="b" cx="8000" cy="8000" r="5800"></circle>
            </svg>
        </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora101" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <circle class="c" cx="8000" cy="8000" r="6080"></circle>
            <polygon class="a" points="8789.5,4902.8 8789.5,5846.4 6801.7,8000 8789.5,10153.6 8789.5,11097.2 5930.5,8000 "></polygon>
        </svg>
    </div>
    <div data-u="arrowright" class="jssora101" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <circle class="c" cx="8000" cy="8000" r="6080"></circle>
            <polygon class="a" points="7210.5,4902.8 7210.5,5846.4 9198.3,8000 7210.5,10153.6 7210.5,11097.2 10069.5,8000 "></polygon>
        </svg>
    </div>
</div>
<script type="text/javascript">jssor_1_slider_init();</script>
<!-- #endregion Jssor Slider End -->