| {% load staticfiles %}
//- .bg-img
section#events
  .container
    .row
      .event.col-md
        .content
          .image.event-1
          .description
            div.name ФОТОШКОЛА
            div.desc Текст, отображающийся при наведении
      .event.col-md
        .content
          .image.event-2
          .description
            div.name МЕРОПРИЯТИЯ
            div.desc Текст, отображающийся при наведении
      .event.col-md
        .content
          .image.event-3
          .description
            div.name МАСТЕР-КЛАССЫ
            div.desc Текст, отображающийся при наведении