| {% load staticfiles %}
//- .bg-img
section#events
  .container
    .row
      .col-md
        .box.box-container
          .row
            .col-md-7
              .box.box-container
                  .col-md.bg-color
          .row.event-container
            .event.col-md
              .content(href="/useful")
                .image.event-1
                .description
                  div.name ФОТОШКОЛА
                  div.desc Текст, отображающийся при наведении
            .event.col-md
              .content(href="/school")
                .image.event-2
                .description
                  div.name МЕРОПРИЯТИЯ
                  div.desc Текст, отображающийся при наведении
            .event.col-md
              .content(href="/school")
                .image.event-3
                .description
                  div.name МАСТЕР-КЛАССЫ
                  div.desc Текст, отображающийся при наведении