| {% load staticfiles %}
//- .bg-img
{% static '/images/events' as url %}
section#events
  .container
    .row
      .col-md
        .box.box-container
          .row
            .col-md-7
              .box.box-container
                  .col-md.bg-color
          .row.event-container
            .event.col-md
              a.content(href="/school")
                .image(style="background-image: url('#{url}/school.png');")
                .description
                  div.name ФОТОШКОЛА
                  div.desc Текст, отображающийся при наведении
            .event.col-md
              a.content(href="/#")
                .image(style="background-image: url('#{url}/measures.png');")
                .description
                  div.name СОБЫТИЯ
                  div.desc Текст, отображающийся при наведении
            .event.col-md
              a.content(href="/masterclass")
                .image(style="background-image: url('#{url}/masters.png');")
                .description
                  div.name ТЕКСТ
                  div.desc Текст, отображающийся при наведении
            .event.col-md
              a.content(href="/masterclass")
                .image(style="background-image: url('#{url}/measures.png');")
                .description
                  div.name ТЕКСТ
                  div.desc Текст, отображающийся при наведении