| {% load staticfiles %}
section#footer
  .container
    .row
      .col-md
        footer.box.box-container
          .row
            .col-md-3
              .box.box-container
                .row
                  .col-md-12.atm-socials
                    .header мы в соцсетях
                    .content
                      a.fab.fa-vk(href="https://vk.com/atmosphera_sarov")
                      i.fa.fa-ellipsis-h
                      a.fab.fa-instagram(href="https://www.instagram.com/atmospherasarov/")
                      i.fa.fa-ellipsis-h
                      a.fab.fa-odnoklassniki-square(href="https://ok.ru/atmospherasarov")
                .row
                  .col-md-12.atm-confidential
                    label: u Политика конфиденциальности
                    label © 2018, Фотостудия "Атмосфера"
            .atm-site-map.col-md
              .header карта сайта
              .content
                ul#bold
                  li: a(href="#") ФОТОСЕССИИ:
                  li: a(href="#") ОБУЧЕНИЕ:
                  li: a(href="#") СОБЫТИЯ:
                  li: a(href="/about") О НАС
                ul
                  li: a(href="/sessions") съёмки
                  li: a(href="/school") фотошкола
                  li: a(href="/blog") блог
                  li: a(href="#")
                ul
                  li: a(href="/halls") залы
                  li: a(href="/masterclass") мастер-классы
                  li: a(href="#")
                  li: a(href="#")

                ul
                  li: a(href="/graduations") выупускные съёмки
                  //li: a(href="/useful") полезное
                  li: a(href="#")
                  li: a(href="#")
                  li: a(href="#")
                ul
                  li: a(href="#")
                  li: a(href="#")
                  li: a(href="#")
                  li: a(href="#")

            .atm-contacts.col-md-2
              .header контакты
              .content
                .address
                  div
                    p адрес: Саров
                  div
                    p ул.&nbsp;Силкина&nbsp;д.&nbsp;30
                .phone
                  div  телефон:
                  .big-text 8&#8194;(930)&#8194;290-1212