| {% load staticfiles %}
section.container-fluid#atm-header
  .parallax-content.parallax-img
  .row
    include includes/navigation_inc
  .row
    .container.atm-slogan
      .slogan
        span САМАЯ<br>АТМОСФЕРНАЯ<br>ФОТОСТУДИЯ!<br>