| {% load staticfiles %}
section.container
  .row#atm-header-slogan-section
    .parallax-content.parallax-img
    .box.box-container
      .col-md.end-md.atm-slogan
        .slogan
          span САМАЯ<br>АТМОСФЕРНАЯ<br>ФОТОСТУДИЯ<br>ГОРОДА!