| {% load staticfiles %}
section#lifephoto
  .container
    .row.top-md
      .col-md-7
        .box.box-container
          .col-md.livephoto-img
      //- (src="{% static 'images/atmsteam.gif' %}")
      //- video.col-md-8(loop, preload, autoplay, poster="{% static 'video/poster.png' %}")
      //-   source(src="{% static 'video/steam-apple.mp4' %}" type='video/mp4')
      //-   source(src="{% static 'video/steam.mp4' %}" type='video/mp4')
      //-   source(src="{% static 'video/steam.webm' %}" type='video/webm')
      .col-md-4.col-md-offset-1.description
        h1 НАША КОМАНДА
        p Да, а на фото часть нашей дружной команды. Именно мы радуем Вас дружеской обстановкой и хорошим настроением! Это мы Вас встречаем радушно чаем и печеньками. Мы любим Вас и всегда ждём в нашей тёплой, уютной студии!