| {% load staticfiles %}
//- - var under_menu = [{"text": "ТЕМНЫЙ ЗАЛ","rel":"action"},{"text": "СВЕТЛЫЙ ЗАЛ", "rel":"action"}]
section#atm-navigation(class='#{header_absolute}')
  .container
    .row
      .col-md.atm-nav-container
        - if page != "index"
          img.atm-navigation__bg-img(src="/static/images/header/background-header.png")
        nav.atm-main-nav.box.box-container
          .row.middle-md
            a.col-md-2.atm-logo(href="/")
                img(src="{% static 'images/logo_black.png' %}")
            ul.col-md-7.atm-main-menu
              .box.box-container
                .row
                  li.col-md.atm-main-menu-item
                    a(href="#") ФОТОСЕССИИ
                    ul.atm-main-menu-submenu
                      li.col-md.atm-submenu-item: a(href="/sessions") СЪЁМКИ
                      li.col-md.atm-submenu-item: a(href="/halls") ЗАЛЫ
                      li.col-md.atm-submenu-item: a(href="/graduations") ВЫПУСКНЫЕ СЪЁМКИ
                  li.atm-menu-splitter
                  li.col-md.atm-main-menu-item
                    a(href="#") ОБУЧЕНИЕ
                    ul.atm-main-menu-submenu
                      li.col-md.atm-submenu-item: a(href="/school") ФОТОШКОЛА
                      li.col-md.atm-submenu-item: a(href="/masterclass") МАСТЕР-КЛАССЫ
                    //- ul.atm-main-menu-submenu
                    //-   li.col-md.atm-submenu-item: a(href="/useful") ПОЛЕЗНОЕ
                  li.atm-menu-splitter
                  li.col-md.atm-main-menu-item
                    a(href="/blog") БЛОГ
                  li.atm-menu-splitter
                  li.col-md.atm-main-menu-item
                    a(href="/about") КОМАНДА
            .col-md-3.end-md.atm-main-address
              .row.city
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-map-marker-alt
                      .col-md-8.desc: span САРОВ
              .row
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-ellipsis-v
                      .col-md-8
              .row.street
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-home
                      .col-md-8.desc УЛ. СИЛКИНА&nbsp;Д.30
              .row
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-ellipsis-v
                      .col-md-8
              .row.phone
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-phone-square
                      .col-md-8.desc 8(930)290-1212
    .row.atm-under-menu-panel
      .col-md-10.center-md
        if under_menu
          ul.atm-under-menu
            - var val = "empty"

            each um_item in under_menu
              if um_item.desc == "dark"
                val = "dark"
              if um_item.desc == "light"
                val = "light"
              if um_item.desc == "family"
                val = "family"
              if um_item.desc == "individual"
                val = "individual"
              if um_item.desc == "child"
                val = "child"
              if um_item.desc == "portrait"
                val = "portrait"
              if um_item.desc == "lovestory"
                val = "lovestory"
              //- if um_item.desc == "school"
              //-   val = "school"
              //- if um_item.desc == "kindergarten"
              //-   val = "kindergarten"
              //- if um_item.desc == "printing"
              //-   val = "printing"
              li.atm-submenu-item: a.view(href="javascript:", data-desc=val) #{um_item.text}
      .col-md-2.end-md.atm-socials
        a.atm-socials-vk(href="https://vk.com/atmosphera_sarov")
          span.chain
          i.fab.fa-vk
        a.atm-socials-instagram(href="https://www.instagram.com/atmospherasarov/")
          i.fab.fa-instagram
        