| {% load staticfiles %}
//- - var under_menu = [{"text": "ТЕМНЫЙ ЗАЛ","rel":"action"},{"text": "СВЕТЛЫЙ ЗАЛ", "rel":"action"}]
section#atm-navigation(class='#{header_absolute}')
  .container
    .row
      .col-md
        nav.atm-main-nav.box.box-container
          .row.middle-md
            a.col-md-2.atm-logo(href="/")
                img(src="{% static 'images/logo.png' %}")
            ul.col-md-7.atm-main-menu
              .box.box-container
                .row
                  li.col-md.atm-main-menu-item
                    a(href="#") ФОТОСЕССИИ
                    ul.atm-main-menu-submenu
                      li.col-md.atm-submenu-item: a(href="/sessions") СЪЁМКИ
                      li.col-md.atm-submenu-item: a(href="/halls") ЗАЛЫ
                      li.col-md.atm-submenu-item: a(href="/graduations") ВЫПУСКНЫЕ СЪЁМКИ
                  li.atm-menu-splitter
                  li.col-md.atm-main-menu-item
                    a(href="#") ФОТОШКОЛА
                    ul.atm-main-menu-submenu
                      li.col-md.atm-submenu-item: a(href="/useful") ПОЛЕЗНОЕ
                  li.atm-menu-splitter
                  li.col-md.atm-main-menu-item
                    a(href="#") МЕРОПРИЯТИЯ
                    ul.atm-main-menu-submenu
                      li.col-md.atm-submenu-item: a(href="/school") МАСТЕР-КЛАССЫ
                  li.atm-menu-splitter
                  li.col-md.atm-main-menu-item: a(href="/about") О НАС
            .col-md-3.end-md.atm-main-address
              .row.city
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-map-marker-alt
                      .col-md-8.desc: span САРОВ
              .row
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-ellipsis-v
                      .col-md-8
              .row.street
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-home
                      .col-md-8.desc ЖЕЛЕЗНОДОРОЖНАЯ&nbsp;Д.9
              .row
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-ellipsis-v
                      .col-md-8
              .row.phone
                .col-md
                  .box.box-container
                    .row.end-md.middle-md
                      .col-md-2.center-md.pics: i.fa.fa-phone-square
                      .col-md-8.desc 8(930)290-1212
    .row.atm-under-menu-panel
      .col-md-10.center-md
        if under_menu
          ul.atm-under-menu
            each um_item in under_menu
              li.atm-submenu-item: a(href="#") #{um_item.text}
      .col-md-2.end-md.atm-socials
        a.atm-socials-vk(href="https://vk.com/atmosphera_sarov")
          span.chain
          i.fab.fa-vk
        a.atm-socials-instagram(href="https://www.instagram.com/atmospherasarov/")
          i.fab.fa-instagram
        