| {% load staticfiles %}

section#atm-navigation_mobile(class="")
  .container-fluid
    .row
      .col-xs-12
        .atm-nav-container_mobile
          i.atm-menu-mobile__btn.fa.fa-bars
          a.col-xs-12.atm-logo-mobile(href="/")
            //- img(src="{% static 'images/logo_text.png' %}", alt="Фотостудия Атмосфера")
          .atm-nav_mobile
            a.atm-logo-mobile(href="/")
              img(src="{% static 'images/logo_black.png' %}", alt="Фотостудия Атмосфера")
            ul.atm-main-menu_mobile
              li.atm-main-menu-item_mobile
                a.atm-menu-submenu-btn_mobile ФОТОСЕССИИ
                  i.fa.fa-chevron-right
                ul.atm-menu-submenu_mobile
                  li.atm-submenu-item_mobile: a(href="/sessions") СЪЁМКИ
                  li.atm-submenu-item_mobile: a(href="/halls") ЗАЛЫ
                  li.atm-submenu-item_mobile: a(href="/graduations") ВЫПУСКНЫЕ СЪЁМКИ
              li.atm-main-menu-item_mobile
                a.atm-menu-submenu-btn_mobile ОБУЧЕНИЕ
                  i.fa.fa-chevron-right
                ul.atm-menu-submenu_mobile
                  li.atm-submenu-item_mobile: a(href="/school") ФОТОШКОЛА
                  li.atm-submenu-item_mobile: a(href="/masterclass") МАСТЕР-КЛАССЫ
              li.atm-main-menu-item_mobile
                a(href="/blog") БЛОГ
              li.atm-main-menu-item_mobile
                a(href="/about") КОМАНДА