.atm-reserved-form
  header
    label.atm-reserved-name Запись на что-то #{reservedName}
    i.fa.fa-times.atm-reserved-form__close-btn
  form.atm-reserved-form__form(action="")
    .section
      .atm-form__input-container
        label Ваше имя
        input(name="name")
      .atm-form__input-container
        label Номер телефона 
          span.font-light.atm-form__label-description (для связи с вами)
        input.atm-form__phone(name="phone", placeholder="+7(___) ___-____")
      .atm-form__input-container
        label e-mail 
          span.font-light.atm-form__label-description (для отправки счёта на оплату)
        input(name="email")
      .atm-form__price
        label Стоимость #{price} ₽
    footer
      button.font-medium(type='submit') Забронировать