| {% load staticfiles %}
section#scenery
  .container
    .row
      .col-xs
        .box.box-conainer#scenery-carousel
          .row
            ul.col-xs.content
              li.item.active
              li.item
              li.item
          .row.center-xs.middle-xs.carousel-indicators
            .col-md-3
              .box
                .row
                  a.col-xs.carousel-control.left(role="button", data-slide="prev")
                    span.fi.flaticon-left-chevron(aria-hidden=true)
                  ol.col-xs
                    li.active(data-slide-to="0")
                    li(data-slide-to="1")
                    li(data-slide-to="2")
                  a.col-xs.carousel-control.right(role="button", data-slide="next")
                    span.fi.flaticon-right-chevron(aria-hidden=true)