| {% load staticfiles %}
section#our-team
  .container
    .row
      .col-md.team
        .row.middle-md
          .col-xs-12.col-sm-8.photo
            img(src="{% static 'images/team.png' %}")
          .col-xs-12.col-sm-4.description
            .description__title
              h1.title НАША КОМАНДА
            .description__text
              p.desc Да, а на фото часть нашей дружной команды. Именно мы радуем Вас дружеской обстановкой и хорошим настроением! Это мы Вас встречаем радушно чаем и печеньками. Мы любим Вас и всегда ждём в нашей тёплой, уютной студии!