extends base
| {% load staticfiles %}

prepend page
  - var title = "О нас"
block content
  section.container
    .row.center-xs
      h1.col-xs-12.atm-page-header О нас
    .row
      p.col-xs-12.col-sm-8.col-sm-offset-2.atm-page-header__description Наша фотостудия началась с простого желания создать и обустроить уголок для фотографов и креативных людей. В 2015 году мы сами столкнулись с тем, что в городе не было rental studio – фотостудии не одного фотографа, а такого места, куда может прийти любой и устроить там свой проект или снять съемку. Таких мест просто не существовало.
      p.col-xs-12.col-sm-8.col-sm-offset-2.atm-page-header__description Вот серьезно. Первый проект мы снимали в квартире друга. Во время ремонта. Мы вдвоем приходили утром, полностью мыли от пыли зал, ставили декорации на место и снимали. Вечером – все убирали. Потому что за ночь в зал налетало столько пыли, что приходилось мыть еще раз.
      p.col-xs-12.col-sm-8.col-sm-offset-2.atm-page-header__description А мы хотели создавать проекты. Снимать такие съемки, которые нравились бы нам самим в том пространстве, которое можно трансформировать под себя. В любое время. Так появилась Атмосфера.
  
  section.team-contents
    .container
      .row.center-xs
        .col-xs-12.team-uptitle знакомьтесь...
        .col-xs-12.team-title Наша команда
        .col-xs-12.col-sm-12.team-text Мы вместе работаем над тем, чтобы вам было уютно в нашей Атмосфере.

    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title Денис Алёшин
          .team-block-description Фотограф, преподаватель, директор
          .team-block-text
            p Практикующий фотограф и преподаватель. Снимает атмосферные портреты в студии и среде. Последнее время увлекся мобильной фотографией и уличным стрит портретом.
            p Разбуди в три утра и спроси что-нибудь про свет или технику – ответит
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/1.jpg' %}")
    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title София Леванова
          .team-block-description Организатор, фотограф, преподаватель
          .team-block-text 
            p Собрала вместе команду талантливых людей и делает на территории Атмосферы вкусное искусство. Главный организатор любой движухи в Атмосфере. Практикующий бьюти и портретный фотограф. Создает вкусные съемки, отличается шикарной проработкой образа и авторской обработкой фотографии.
            p Отвечает за все образы, созданные в рамках фотошколы
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/2.jpg' %}")
    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title Екатерина Сей
          .team-block-description Администратор, фотограф
          .team-block-text 
            p Бессменный администратор фотостудии. Именно Катю вы видите каждый день в студии. Именно Катя отвечает на ваши звонки. Именно катя пишет вам ответные сообщения в вк и инстаграме. 
            p Катя обладает уникальным талантом  - может один раз в день пожурить Дениса за разбросанные софтбоксы
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/3.jpg' %}")
    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title Павел Воровцев
          .team-block-description Администратор, фотограф
          .team-block-text 
            p Администратор выходного дня. Если посещаете студию в выходные – обязательно увидите Павла в студии. С кружечкой чая. И вам предложит ☺
            p По совместительству – снимает семейные и свадебные сьемки.
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/4.jpg' %}")
    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title Даша Латышева
          .team-block-description Фотограф
          .team-block-text 
            p Обладает суперспособностью – останавливает время. Снимает людей. Помогает оставить в памяти добрые моменты. Делает украшения из настоящих цветков в смоле. Участвует в каждой первой движухе в Атмосфере.
            p Снимает индивидуальные, семейные, свадебные сьемки. Очень любит репортажи.
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/5.jpg' %}")
    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title Елена Лемясева
          .team-block-description Художник-педагог
          .team-block-text 
            p Все классные рисунки, которые вы видите у нас в студии на стенах – ее кисточек дело. Рисует сама и преподает нашим ученикам на мастерклассах.
            p По совместительству – преподаватель художественного блока курса «Фотография». Именно Лена расскажет вам про композицию и гармонию цветов. 
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/6.jpg' %}")
    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title Наташа Сорокина-Леванова
          .team-block-description Флорист, преподаватель
          .team-block-text 
            p Увидел цветок в Атмосфере? Скорее всего это работа Наташи. Либо она его сделала. Либо посадила. Либо вылепила. Четвертого не дано. Собирает все цветочные композиции из живых и засушенных цветов.
            p По совместительству преподает флористику на мастер-классах Атмосферы.
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/7.jpg' %}")
    article.container-fluid.person
      .row.middle-sm
        .col-xs-12.col-sm-6
          .team-block-title Елена Латухина
          .team-block-description Художник, преподаватель
          .team-block-text 
            p Если ты увидел в студии кого то в китайской одежде и с хитрой кисточкой в руке, знай – это Лена.
            p Преподает рисование медитативных китайских пейзажей и всего, что с этим связано.
        .col-xs-12.col-sm-6
          img.team-block-image(src="{% static 'images/team/8.jpg' %}")
          