| {% load staticfiles %}
| {% load compress %}
<!DOCTYPE html>
//- - var maintitle = "Фотостудия 'Атмосфера'"

block page
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title #{title} "Атмосфера" фотостудия
      link(rel="shortcut icon", type="image/png", href="{% static 'images/favicon.ico' %}")
      link(rel="stylesheet", href="{% static 'css/normalize.css' %}")
      link(rel="stylesheet", href="{% static 'css/flexboxgrid.css' %}")
      link(rel="stylesheet", href="{% static 'css/fontawesome.css' %}")
      block styles
      | {% compress css %}
      link(rel="stylesheet", type="text/x-scss", charset="utf-8", href="{% static 'scss/main.scss' %}")
      | {% endcompress %}
    body
      include includes/navigation_inc
      include includes/navigation_mob_inc
      block content
      include includes/footer_inc

      block scripts
        script(src="{% static 'javascripts/jquery.min.js' %}")
        script(src="{% static 'javascripts/jquery.maskedinput.js' %}")
        script(src="{% static 'javascripts/jssor.slider-27.1.0.min.js' %}")
        script(src="{% static 'javascripts/main.js' %}")
        script(id="aeWidgetScript", type="text/javascript", src="//appevent.ru/widgets/widgethandle.min.js?widget_key=944904f5d9ddcfe57136d73460d512e0", async=true, charset="UTF-8")
        //- script(src="{% static 'javascripts/reserv_widget.js' %}")