| {% load staticfiles %}
| {% load compress %}
<!DOCTYPE html>
//- - var maintitle = "Фотостудия 'Атмосфера'"

block page
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title #{title} "Атмосфера" фотостудия
      link(rel="shortcut icon", type="image/png", href="{% static 'images/favicon.ico' %}")
      link(rel="stylesheet", href="{% static 'css/normalize.css' %}")
      link(rel="stylesheet", href="{% static 'css/flexboxgrid.css' %}")
      link(rel="stylesheet", href="{% static 'css/fontawesome.css' %}")
      <!-- Yandex.Metrika counter -->
      script(type="text/javascript")
        | (function (d, w, c) {
        |    (w[c] = w[c] || []).push(function() {
        |        try {
        |            w.yaCounter51359239 = new Ya.Metrika2({
        |                id:51359239,
        |                clickmap:true,
        |                trackLinks:true,
        |                accurateTrackBounce:true,
        |                webvisor:true
        |            });
        |        } catch(e) { }
        |    });
        |    var n = d.getElementsByTagName("script")[0],
        |        s = d.createElement("script"),
        |        f = function () { n.parentNode.insertBefore(s, n); };
        |    s.type = "text/javascript";
        |    s.async = true;
        |    s.src = "https://mc.yandex.ru/metrika/tag.js";
        |    if (w.opera == "[object Opera]") {
        |        d.addEventListener("DOMContentLoaded", f, false);
        |    } else { f(); }
        | })(document, window, "yandex_metrika_callbacks2");
      noscript
        div
          img(src="https://mc.yandex.ru/watch/51359239", style="position:absolute; left:-9999px;",alt="")
      block styles
      | {% compress css %}
      link(rel="stylesheet", type="text/x-scss", charset="utf-8", href="{% static 'scss/main.scss' %}")
      | {% endcompress %}
    body
      include includes/navigation_inc
      include includes/navigation_mob_inc
      block content
      .atm-toppage-btn
        i.fas.fa-arrow-up
      include includes/footer_inc
      block scripts
        script(src="{% static 'javascripts/libs/jquery.min.js' %}")
        script(src="{% static 'javascripts/libs/jquery.maskedinput.js' %}")
        script(src="{% static 'javascripts/libs/jssor.slider-27.1.0.min.js' %}")
        script(id="aeWidgetScript", type="text/javascript", src="//appevent.ru/widgets/widgethandle.min.js?widget_key=944904f5d9ddcfe57136d73460d512e0", async=true, charset="UTF-8")
        script(src="{% static 'javascripts/main.min.js' %}")
        //- script(src="{% static 'javascripts/reserv_widget.js' %}")