extends base
| {% load staticfiles %}
include mixins/mixins.pug

prepend page
  - var title = title
block styles
  //- link(rel="stylesheet", href="{% static 'css/blog.css' %}") 
  //- ТУТ НУЖНО ГЕНЕРИРОВАТЬ ОТДЕЛЬНЫЙ  CSS для БЛОГА (я не знаю где что поправить нужно, что бы это произошло)
  //- ...я так думаю и подключать по мере необходимости, что бы не раздувать main.css
block content
  section
    .container
      .row
        .col-xs-12
          .atm-blog-header
            .blog-header
              .blog-item__bg_container
                .blog-item__bg.parallax-img(style="background-image: url('#{desc_image}')")
              .blog-item__description
                header
                  .blog-item__date.font-light {{ public_date }}
                  .blog-item__header.font-medium {{ title }}
          .atm-blog-content
            | {% for item in content %}
            | {{ item.content |safe }}
            | {% endfor %}