| {% load staticfiles %}
.bg-img
.row.events
  .container
    .row
      .event.col-xs-12.col-sm-4
        .content
          .image.event-1
          .description
            div.name ФОТОШКОЛА
            div.desc Текст, отображающийся при наведении
      .event.col-xs-12.col-sm-4
        .content
          .image.event-2
          .description
            div.name МЕРОПРИЯТИЯ
            div.desc Текст, отображающийся при наведении
      .event.col-xs-12.col-sm-4
        .content
          .image.event-3
          .description
            div.name МАСТЕР-КЛАССЫ
            div.desc Текст, отображающийся при наведении
      //- .parallax-content.parallax-img
      //- .container
      //-   .row
      //-     .col-xs-12
      //-       .box.box-container
      //-         .event.col-xs-12.col-sm-4
      //-           .content
      //-             .image(style="background-image: url('static/images/events/school.jpg')")
      //-             .description
      //-               span ФОТОШКОЛА
      //-         .event.col-xs-12.col-sm-4
      //-           .content
      //-             .image(style="background-image: url('static/images/events/measures.jpg')")
      //-             .description
      //-               span МЕРОПРИЯТИЯ
      //-         .event.col-xs-12.col-sm-4
      //-           .content
      //-             .image(style="background-image: url('static/images/events/masters.jpg')")
      //-             .description
      //-               span МАСТЕР-КЛАССЫ