| {% load staticfiles %}
.container-fluid.our-team
  .row
    .container
      .row.footer
        .col-sm-4.socials
          div мы в соцсетях
          div
            a.fa.fa-vk.fa-icon
            a.fa.fa-instagram.fa-icon
            a.fa.fa-odnoklassniki.fa-icon
        .col-sm-4
          div.site-map карта сайта
            div
              .col-sm-6.site-map-ul
                ul
                  li
                    a(href="#") аренда
                  li
                    a(href="#") услуги
                  li
                    a(href="#") наша команда
                  li
                    a(href="#") контакты
              .col-sm-6.site-map-ul
                ul
                  li
                    a(href="#") фотошкола
                  li
                    a(href="#") мероприятия
                  li
                    a(href="#") мастер-классы
        .col-sm-3.col-sm-offset-1
          div.contacts контакты
          div.address
            p адрес: Саров, ул. железнодорожная д. 9
          div телефон:
          div.phone 8(930)290-1212