| {% load staticfiles %}
section.container-fluid#footer
  .row
    .container
      footer.col-xs-12
        .row
          .atm-socials.col-sm-2.col-sm-offset-1
            .header мы в соцсетях
            .content
              a.fa.fa-vk(href="#")
              i.fa.fa-ellipsis-h
              a.fa.fa-instagram(href="#")
              i.fa.fa-ellipsis-h
              a.fa.fa-odnoklassniki-square(href="#")
          .atm-site-map.col-sm-5.col-sm-offset-1
            .header карта сайта
            .content
              ul
                li: a(href="#") аренда
                li: a(href="#") услуги
                li: a(href="#") наша команда
                li: a(href="#") контакты
                li: a(href="#") фотошкола
                li: a(href="#") мероприятия
                li: a(href="#") мастер-классы
          .atm-contacts.col-sm-2
            .header контакты
            .content
              .address
                div
                  p адрес: Саров
                div
                  p ул.&nbsp;железнодорожная&nbsp;д.&nbsp;9
              .phone
                div  телефон:
                .big-text 8&#8194;(930)&#8194;290-1212