extends base
| {% load staticfiles %}
include mixins/school_mixins.pug

prepend page
  - var title = "Выпускные съёмки"
  - var under_menu = [{"text": "школа", "desc": "school"}, {"text": "детский сад", "desc": "kindergarten"}, {"text": "печать альбомов", "desc": "printing"}]
block content
  | {% static '/images' as imageUrl %}
  - var graduation_list = [{"label": "ШКОЛА", "id": "school", "active": "true"}, {"label": "ДЕТСКИЙ\nСАД", "id": "kindergarten", "active": "false"}, {"label": "ПЕЧАТЬ\nАЛЬБОМОВ", "id": "album_print", "active": "false"}]
  section
    .container.page_mainheader
      .row
        .col-md-7
          img(src="{% static '/images/page_headers/graduations.png' %}")
        .col-md-5.description
          h1 ВЫПУСКНЫЕ СЪЁМКИ
          p #{main_text}