extends base
| {% load staticfiles %}
include mixins/check_btn.pug
prepend page
  - var title = "Выпускные съёмки"
block content
  | {% static '/images' as imageUrl %}
  section
    .container.page_mainheader
      .row
        .col-md-7
          img(src="{% static '/images/bg/graduations-mainheader-img.png' %}")
        .col-md-5.description
          h1 НАША КОМАНДА
          p Да, а на фото часть нашей дружной команды. Именно мы радуем Вас дружеской обстановкой и хорошим настроением! Это мы Вас встречаем радушно чаем и печеньками. Мы любим Вас и всегда ждём в нашей тёплой, уютной студии!
  //- include ./mixins/check_btn.pug
  section
    .container.graduations_checkbtn
      .row.around-xs
        .col-md-4
          +check_btn('ШКОЛА', 'school', "true")
        .col-md-4
          +check_btn('ДЕТСКИЙ<br>САД', 'kindergarten')
        .col-md-4
          +check_btn('ПЕЧАТЬ<br>АЛЬБОМОВ', 'album_print')
  section
    .container.page_photogallery
      .row
         each item in gallery_imgs
          div.col-md-3
            .img(style="background-image: url('#{imageUrl}/#{item}')")