extends base
| {% load staticfiles %}
include mixins/school_mixins.pug
//- include mixins/check_btn.pug
//- include mixins/photogallery_item.pug

prepend page
  - var title = "Выпускные съёмки"
block content
  | {% static '/images' as imageUrl %}
  - var graduation_list = [{"label": "ШКОЛА", "id": "school", "active": "true"}, {"label": "ДЕТСКИЙ\nСАД", "id": "kindergarten", "active": "false"}, {"label": "ПЕЧАТЬ\nАЛЬБОМОВ", "id": "album_print", "active": "false"}]
  section
    .container.page_mainheader
      .row
        .col-md-7
          img(src="{% static '/images/bg/graduations-mainheader-img.png' %}")
        .col-md-5.description
          h1 ВЫПУСКНЫЕ СЪЁМКИ
          p #{main_text}

  section
    .container.graduations_checkbtn
      .row.around-xs
        each btn in graduation_list
          .col-md-4
            +check_btn(btn.label, btn.id, btn.active)

  section
    .container.page_photogallery
      .row
        | {% if request.session.view == "school" %}
        each item in gallery_imgs
          +photogallery_item(item)
        | {% elif request.session.view == "kindergarten" %}
        each item in gallery_imgs
          +photogallery_item(item)
        | {% elif request.session.view == "album_print" %}
        each item in gallery_imgs
          +photogallery_item(item)
        | {% else %}
        p HAHAHA
        | {% endif %}