extends base
| {% load staticfiles %}
include mixins/school_mixins.pug

prepend page
  - var title = "Выпускные съёмки"
  - var under_menu = [{"text": "школа", "desc": "school"}, {"text": "детский сад", "desc": "kindergarten"}, {"text": "печать альбомов", "desc": "printing"}]
block content
  | {% static '/images' as imageUrl %}
  - var graduation_list = [{"label": "ШКОЛА", "id": "school", "active": "true"}, {"label": "ДЕТСКИЙ\nСАД", "id": "kindergarten", "active": "false"}, {"label": "ПЕЧАТЬ\nАЛЬБОМОВ", "id": "album_print", "active": "false"}]
  section
    .container.page_mainheader
      .row
        .col-md-7
          img(src="/#{desc_image}")
        .col-md-5.description
          h1 {{ title|upper }}
          p #{main_text}
          - var iterator = [1, 2, 3]
          each i in iterator
            p <br>
          a.atm-btn-reserved(href="#") ЗАБРОНИРОВАТЬ

    section
      .container.page_photogallery
        .row#graduations_images
          //| {% if request.session.view == "school" %}
          //each item in gallery_imgs
          //  +photogallery_item(item)
          //| {% elif request.session.view == "kindergarten" %}
          //each item in gallery_imgs
          //  +photogallery_item(item)
          //| {% elif request.session.view == "printing" %}
          //each item in gallery_imgs
          //  +photogallery_item(item)
          //| {% endif %}

  script(src="{% static 'javascripts/graduationschange.js' %}")