extends base
| {% load staticfiles %}
include mixins/mixins.pug
prepend page
  link(rel="stylesheet", href="{% static 'css/halls_slider.css' %}")
  - var title = "Залы"
  - var under_menu = [{"text": "МАНСАРДА", "desc": "dark"}, {"text": "ВОЗДУХ", "desc": "light"}]
block content
  +page_mainheader_with_slider('hall')
