extends base
| {% load staticfiles %}

prepend page
  link(rel="stylesheet", href="{% static 'css/halls_slider.css' %}")
  - var title = "Залы"
  - var under_menu = [{"text": "ТЁМНЫЙ ЗАЛ", "desc": "dark"}, {"text": "СВЕТЛЫЙ ЗАЛ", "desc": "light"}]
block content
  section
    .container.page_mainheader
      .row
        .col-md-7#hall
        .col-md-5.description
          h1#title
          p#desc
          p <br>
          p#hallsize
          p <br>
          p#price
          p <br>
          a.atm-btn-reserved.aeWidgetBtn(type="_blank") ЗАБРОНИРОВАТЬ
