extends base
| {% load staticfiles %}

prepend page
  link(rel="stylesheet", href="{% static 'css/halls_slider.css' %}")
  - var title = "Залы"
  - var under_menu = [{"text": "ТЁМНЫЙ ЗАЛ", "desc": "dark"}, {"text": "СВЕТЛЫЙ ЗАЛ", "desc": "light"}]
block content
  section
    .container.page_mainheader
      .row
        .col-md-7#hall
        .col-md-5.description
          h1#title
          p#desc
          p <br>
          p#hallsize
          p <br>
          p#price
          p <br>

          //p Интерьер зала:<br>
          //  | - 4 фактурных стены для разноплановых идей<br>
          //  | - лампочки Эдиссона для интереных эффектов<br>
          //  | - деревянный пол, покрытый лаком
          //p Стоимость аренды зала:<br>
          //  | будни	12:00-14:00	<b>650</b> руб/час,<br>
          //  | будни	14:00-17:00	<b>850</b> руб/час,<br>
          //  | будни	17:00-20:00	<b>1000</b> руб/час,<br>
          //  | выходные		         <b>1300</b> руб./час
          //
          //p <br>

          - var iterator = [1, 2]
          each i in iterator
              p <br>

          a.atm-btn-reserved.aeWidgetBtn(type="_blank") ЗАБРОНИРОВАТЬ
