extends base
| {% load staticfiles %}
include mixins/mixins.pug
prepend page
  link(rel="stylesheet", href="{% static 'css/halls_slider.css' %}")
  - var title = "Залы"
  - var under_menu = [{"text": "ТЁМНЫЙ ЗАЛ", "desc": "dark"}, {"text": "СВЕТЛЫЙ ЗАЛ", "desc": "light"}]
block content
  +page_mainheader_with_slider('hall')
  //- section
  //-   .container.page_mainheader
  //-     .row
  //-       .col-md-7#hall
  //-       .col-md-5.description
  //-         .description__title
  //-           h1#title.title
  //-         .description__text
  //-           p#desc.desc
  //-         //- p <br>
  //-         //- p#hallsize
  //-         //- p <br>
  //-         //- p#price
  //-         //- p <br>
  //-         .description__btn
  //-           a.atm-btn-reserved.aeWidgetBtn(type="_blank") ЗАБРОНИРОВАТЬ
