extends base
| {% load staticfiles %}

prepend page
  - var title = "Залы"
  - var under_menu = [{"text": "ТЁМНЫЙ ЗАЛ", "desc": "dark"}, {"text": "СВЕТЛЫЙ ЗАЛ", "desc": "light"}];
  //- var under_menu = {1:'ТЁМНЫЙ ЗАЛ',2:'СВЕТЛЫЙ ЗАЛ'}

block content
  section
    .container.page_mainheader
      .row
        .col-md-7
          | {% include 'includes/halls_slider_inc.html' %}
        .col-md-5.description
          | {% if request.session.view == "dark" %}
          h1 ТЁМНЫЙ ЗАЛ
          p Для тех, кто любит потемнее и по-брутельнее.
          p Размер зала: 75 кв.м.
          p Интерьер зала:<br>
            | - 4 фактурных стены для разноплановых идей<br>
            | - лампочки Эдиссона для интереных эффектов<br>
            | - деревянный пол, покрытый лаком
          p Стоимость аренды зала:<br>
            | будни	12:00-14:00	650 руб/час,<br>
            | будни	14:00-17:00	850 руб/час,<br>
            | будни	17:00-20:00	1000 руб/час,<br>
            | выходные		         1300 руб./час

          | {% elif request.session.view == "light" %}
          h1 СВЕТЛЫЙ ЗАЛ
          p Светлый зал с утончённым дизайном для семейных или свадебных съёмок, а также для индивидуальных.
          p <br>
          p Размер зала: ~50 кв.м.
          p <br>
          p Стоимость аренды зала:<br>
            | 1500 руб./час
          - var iterator = [1, 2, 3]
          each i in iterator
              p <br>

          | {% else %}
          h1 ТЁМНЫЙ ЗАЛ
          p Для тех, кто любит потемнее и по-брутельнее.
          p Размер зала: 75 кв.м.
          p Интерьер зала:<br>
            | - 4 фактурных стены для разноплановых идей<br>
            | - лампочки Эдиссона для интереных эффектов<br>
            | - деревянный пол, покрытый лаком
          p Стоимость аренды зала:<br>
            | будни	12:00-14:00	650 руб/час,<br>
            | будни	14:00-17:00	850 руб/час,<br>
            | будни	17:00-20:00	1000 руб/час,<br>
            | выходные		         1300 руб./час

          | {% endif %}

          a.atm-btn-reserved(href="#") ЗАБРОНИРОВАТЬ