| {% load staticfiles %}
.container-fluid#atm-header
  .parallax-content.parallax-img
  header.row
    include navigation
  .row
    .container.atm-slogan
      div.content
        span САМАЯ<br>АТМОСФЕРНАЯ<br>ФОТОСТУДИЯ<br>ГОРОДА!