| {% load staticfiles %}
section.container-fluid#atm-header
  .parallax-content.parallax-img
  .row
    include navigation
  .row
    .container.atm-slogan
      .slogan
        span САМАЯ<br>АТМОСФЕРНАЯ<br>ФОТОСТУДИЯ<br>ГОРОДА!