{% load staticfiles %}
header.container-fluid
  .row
    .container
      nav
        a.atm-logo(href="/")
          img(src="{% static 'images/logo.png' %}")
        ul.atm-main-menu
          li: a(href="#") АРЕНДА
          li: a(href="#") ОБОРУДОВАНИЕ
          li: a(href="#") УСЛУГИ
          li: a(href="#") НАША КОМАНДА
        .atm-address
          .city
            i.fa.fa-map-marker
            span САРОВ
          .street
            span УЛ. ЖЕЛЕЗНОДОРОЖНАЯ Д.9
          .phone
            i.fa.fa-phone
            span 8(930)290-1212