extends base
| {% load staticfiles %}
block content
  include includes/header_inc
  // Здесь этот блок логичнее, чем в хедере, который надо везде подключать
  .row
    .container.atm-slogan
      .slogan
        span САМАЯ<br>АТМОСФЕРНАЯ<br>ФОТОСТУДИЯ!<br>
  //- .container-fluid#main-content
  section.container-fluid#scenery
    include includes/scenery_inc
  section#events
    include includes/events_inc
  section.container-fluid#our-team
    include includes/team_inc
  include includes/footer_inc
