extends base
prepend page
  - var title = "Атмосфера"
| {% load staticfiles %}
block content
  - var header_absolute = "atm-navigation-absolute";
  include includes/navigation_inc
  include includes/header_inc
  //- .container-fluid#main-content
  include includes/scenery_inc
  include includes/livephoto_inc
  include includes/events_inc
  include includes/team_inc
