extends base
prepend page
  - var title = ""
  - var header_absolute = "atm-navigation-absolute";
| {% load staticfiles %}
block content
  include includes/header_inc
  //- .container-fluid#main-content
  include includes/scenery_inc
  include includes/livephoto_inc
  include includes/events_inc
  include includes/team_inc
