extends base
| {% load staticfiles %}
block content
  include header
  //- .container-fluid#main-content
  section.container-fluid#scenery
    include scenery
  section.container-fluid#events
    include events
  section.container-fluid#our-team
    include team
  include footer
