extends base
| {% load staticfiles %}
include mixins/mixins.pug

prepend page
  - var title = "Главная страница"
  - var header_absolute = "atm-navigation-absolute";

block content

  section.atm-header-section
    .container
      .row#atm-header-slogan-section
        .parallax-content.parallax-img
        .box.box-container
          .col-xs.end-xs.atm-slogan
            .slogan
              span САМАЯ<br>АТМОСФЕРНАЯ<br>ФОТОСТУДИЯ<br>ГОРОДА!
  include includes/scenery_inc
  section#lifephoto
    .container
      .row.top-md
        .col-md-7.col-xs-12
          .livephoto-img
        .col-md-4.col-md-offset-1.col-xs-12.description
          .description__title
            h1.title НАША ТРАДИЦИЯ
          .description__text
            p.desc У нас в студии есть традиция - пить чай. Именно так мы коротаем время между сьемками. Приходте к нам и мы встретим вас чаем и печеньками. Потому что мы любим гостей и всегда ждем вас в нашей теплой уютной студии.
  
  | {% static '/images' as imageUrl %}
  section#events
    .container
      .row.event-container
        - var evt_img = ['school.png', 'measures.png', 'masters.png', 'measures.png'];
        | {% with imageUrl|add:'/events/' as src  %}
        - var srcImg = src + evt_img[0]
        +event("/school", "фотошкола", "Текст, отображающийся при наведении", srcImg)
        - var srcImg1 = src + evt_img[1]
        +event("/blog", "блог", "Текст для блога", srcImg1)
        - var srcImg2 = src + evt_img[2]
        +event("/masterclass", "мастер-классы", "Текст, отображающийся при наведении", srcImg2)
        | {% endwith %}
  include includes/team_inc
