extends base
| {% load staticfiles %}
//- include mixins/mixins.pug
include mixins/plate_new.pug
prepend page
  - var title = "Мастер-класс"
block content
  | {% static '/images' as imageUrl %}
  mixin page_header(img_src, header, description)
    section
      .container.page_mainheader
        .row
          .col-md-7
            img(src="/#{img_src}")
          .col-md-5.description
            h1 {{ header|upper }}
            p= description

  +page_header(desc_image, title, main_text)
  
  section.atm-plate-gallery
    .container.plate_container
      .row#masterclass_plates
         //- each item in plate_desc
         //-   .col-md-3
         //-     +plate_new(item.image, item.title, item.plate_text)

  script(src="{% static 'javascripts/masterclass.js' %}")
