extends base
| {% load staticfiles %}
//- include mixins/mixins.pug
include mixins/mixins.pug
prepend page
  - var title = "Мастер-класс"
block content
  | {% static '/images' as imageUrl %}

  section
    .container.page_mainheader
      .row
        .col-xs-12.col-md-7
          img#desc_image
        .col-xs-12.col-md-5.description
          .description__title
            h1#title.title
          .description__text
            p#main_text.desc

  | {% if prelude %}
  section.atm-school-description
    .container
      .row
        .col-xs-12.font-light
          .atm-school-p.atm-bbcode-container
            | {{ prelude |safe }}
  | {% endif %}

  section.atm-plate-gallery
    .container.plate_container
      .row#masterclass_plates

block append scripts
  script(src="{% static 'javascripts/masterclass.js' %}")

