extends base
| {% load staticfiles %}
include mixins/check_btn.pug
//- include mixins/photogallery_item.pug

mixin photogallery_item(_url)
  .col-md-3
    .img-container 
      .img(style="background-image: url({% static '#{imageUrl}/#{_url}' %})")
      /// КАК БЛИН НУЖНО ТАКОЙ ПАРАМЕТР ПОДАВАТЬ? Еще один вид ковычек?

prepend page
  - var title = "Фотошкола"
block content
  | {% static '/images' as imageUrl %}
  section
    .container.page_mainheader
      .row
        .col-md-7
          img(src="{% static '/images/school/school_main_img_0.jpg' %}")
        .col-md-5.description
          h1 НАША КОМАНДА
          p #{main_text}
          //p Да, а на фото часть нашей дружной команды. Именно мы радуем Вас дружеской обстановкой и хорошим настроением! Это мы Вас встречаем радушно чаем и печеньками. Мы любим Вас и всегда ждём в нашей тёплой, уютной студии!
  //- include ./mixins/check_btn.pug
  section
    .container.graduations_checkbtn
      .row.around-xs
        .col-md-4
          +check_btn('ФОТОГРАФИЯ <br>С НУЛЯ', 'school', "true")
        .col-md-4
          +check_btn('ОСНОВЫ<br>СТУДИЙНОЙ<br>СЪЁМКИ', 'kindergarten')
        .col-md-4
          +check_btn('РЕТУШЬ<br>ПОРТРЕТА', 'album_print')
  section
    .container.page_photogallery
      .row
        each item in school_imgs
          +photogallery_item(item) 
          // Я НЕ ЯБУ КАК ЭТО БЛЯТЬ ДОЛЖНО РАБОТАТЬ! ВСЯКИЕ ВАРИАНТЫ ПОПРОБОВАЛ
          // МИКСИН НЕ РАБОТАЕТ ЕСЛИ ЕГО ИНКЛУДИТЬ
          // И НЕ РАБОТАЕТ ПАРАМЕТР ЕСЛИ ЕГО ПОДАВАТЬ как параметр...Как блять нужно делать эту очевидную вещь???