extends base
| {% load staticfiles %}
include mixins/mixins.pug

prepend page
  - var title = "Фотошкола"
  - var evt_img = ['school_img_1.jpg', 'school_img_2.jpg', 'school_img_3.jpg'];
block content
  section
    .container.page_mainheader
      .row
        .col-xs-12.col-md-7
          img#desc_image
          //- img(src="/#{desc_image}")#desc_image
        .col-xs-12.col-md-5.description
          .description__title
            h1#title.title
          .description__text
            p#main_text.desc
          //- h1 {{ title|upper }}
          //- p #{main_text}
  section
    .container
      .row.event-container
        | {% static '/images' as imageUrl %}
        | {% with imageUrl|add:'/school/' as src  %}
        - var srcImg = src + evt_img[0]
        +event('/school/photo', 'ФОТОГРАФИЯ', 'Твоя основа знаний и навыков в фотографии', srcImg)
        - var srcImg1 = src + evt_img[1]
        +event('#', 'ОСНОВЫ СТУДИЙНОЙ СЪЁМКИ', 'Твой углублённый интенсив по пониманию света и студии', srcImg1)
        - var srcImg2 = src + evt_img[2]
        +event('', 'РЕТУШЬ ПОРТРЕТА', 'Курс находится в разработке. Следите за новостями!', srcImg2)
        | {% endwith %}