extends base
| {% load staticfiles %}
include mixins/mixins.pug

prepend page
  - var title = "Фотошкола"
  - var evt_img = ['school_img_1.jpg', 'school_img_2.jpg', 'school_img_3.jpg'];
block content
  section
    .container.page_mainheader
      .row
        .col-md-7
          img(src="/#{desc_image}")
        .col-md-5.description
          h1 {{ title|upper }}
          p #{main_text}
  section
    .container
      .row
        .col-md
          .box.box-container
            .row.event-container
              | {% static '/images' as imageUrl %}
              | {% with imageUrl|add:'/school/' as src  %}
              - var srcImg = src + evt_img[0]
              +event('#', 'ФОТОГРАФИЯ', 'Текст, отображающийся при наведении', srcImg)
              - var srcImg1 = src + evt_img[1]
              +event('#', 'ОСНОВЫ СТУДИЙНОЙ СЪЁМКИ', 'Текст, отображающийся при наведении', srcImg1)
              - var srcImg2 = src + evt_img[2]
              +event('#', 'РЕТУШЬ ПОРТРЕТА', 'Текст, отображающийся при наведении', srcImg2)
              | {% endwith %}
              