extends base
| {% load staticfiles %}
include mixins/school_mixins.pug

prepend page
  - var title = "Фотошкола"
block content
  | {% static '/images' as imageUrl %}

  section
    .container.page_mainheader
      .row
        .col-md-7
          img(src="{% static '/images/school/school_main_img_0.jpg' %}")
        .col-md-5.description
          h1 ФОТОШКОЛА
          p #{main_text}

  section
    .container.graduations_checkbtn
      .row.around-xs
        .col-md-4
          +check_btn('ФОТОГРАФИЯ <br>С НУЛЯ', 'school', "true")
        .col-md-4
          +check_btn('ОСНОВЫ<br>СТУДИЙНОЙ<br>СЪЁМКИ', 'kindergarten')
        .col-md-4
          +check_btn('РЕТУШЬ<br>ПОРТРЕТА', 'album_print')
  section
    .container.page_photogallery
      .row
        each item in school_imgs
          +photogallery_item(item)
         