extends base
| {% load staticfiles %}
include mixins/mixins.pug

prepend page
  link(rel="stylesheet", href="{% static 'css/halls_slider.css' %}")
  - var title = "ФОТОСЕССИИ"
  - var under_menu = [{"text": "СЕМЕЙНАЯ", "desc": "family"}, {"text": "ИНДИВИДУАЛЬНАЯ", "desc": "individual"}, {"text": "ДЕТСКАЯ", "desc": "child"}, {"text": "ПОРТРЕТ", "desc": "portrait"}, {"text": "LOVESTORY", "desc": "lovestory"}]
  //, {"text": "СВАДЕБНАЯ", "desc": "wedding"}];
block content
  +page_mainheader_with_slider('session')
