extends base
| {% load staticfiles %}
| {% load embed_video_tags %}

include mixins/mixins.pug

prepend page
  //- link(rel="stylesheet", href="{% static 'css/halls_slider.css' %}")
  //- var title = ""
  //- var under_menu = [{"text": "СЕМЕЙНАЯ", "desc": "family"}, {"text": "ИНДИВИДУАЛЬНАЯ", "desc": "individual"}, {"text": "ДЕТСКАЯ", "desc": "child"}, {"text": "ПОРТРЕТ", "desc": "portrait"}, {"text": "LOVESTORY", "desc": "lovestory"}]
  //, {"text": "СВАДЕБНАЯ", "desc": "wedding"}];
block content
  input#page_name(type="hidden", value="#{page}")
  section.page_mainheader
    .container
      .row
        .col-xs-12.col-md-7
          img#image(src="#{desc_image}" alt="Фотография мастеркласса")
        .col-xs-12.col-md-5.description
          .box
            .row.center-xs.start-md
              .col-xs-12.description__title
                h1.title {{ title }}
            .row.center-xs.start-md
              .col-xs-12.description__text.atm-bbcode-container
                | {{ desc |safe }}
            .row.center-xs.start-md
              .col-xs-12.description_btn
                a.atm-btn-reserved.reserved-btn-scroolled(type="_blank") ЗАПИСАТЬСЯ

  | {% if who_interested %}
  section.atm-school-description
    .container
      .row
        .col-xs-12.font-light
          .atm-school-p.atm-bbcode-container
            | {{ who_interested | safe }}
  | {% endif %}

  section.atm-teachers.alternation-section
    .container
      .row
        .col-xs-12
          .atm-section-header.font-medium Преподаватели
      .row
        each teacher in teachers
          .col-xs-12.col-md-8.col-md-offset-2
            +teacher_card(teacher.desc_image, teacher.title, teacher.content, teacher.social_link, teacher.social_name)
  section.atm-signup.alternation-section.atm-school-constructor#signup
    .container
      .row
        .col-xs-12.center-xs
          .atm-section-header.font-medium Записаться на мастер-класс
          h4 {{ title }}
      section.atm-masterclass-price-description
        .row
          .col-xs-12
            p На наши мастерклассы мы предоставляем Вам все необходимые материалы и инструменты.
            | А после занятия Вы уходите со своей картиной, которую можете повесить у себя дома
            | либо подарить близкому человеку.
        .row
          .col-xs-12.col-sm-8
            .box.box-container.atm-masterclass-reason
              .row.reason
                .col-xs-1.col-md-1.middle-xs
                  img(src="{% static '/images/icons/time.png' %}", alt="")
                .col-xs-8
                  p.font-light Удобное время проведения - занятия проходят в выходные или вечером в будни
                  p.font-light Специально для работающих
              .row.reason
                .col-xs-1.col-md-1.middle-xs
                  img(src="{% static '/images/icons/galka.png' %}", alt="")
                .col-xs-8
                  p.font-light Продолжительность мастер-класса - 4 часа.
                  p.font-light Подобрано так, что бы каждого довести до результата.
              .row.reason
                .col-xs-1.col-md-1.middle-xs
                  img(src="{% static '/images/icons/molbert.png' %}", alt="")
                .col-xs-8
                  p.font-light Результат МК - готовый арт-обьект своими руками.
                  p.font-light Его можно повесить или поставить дома, а можно подарить любимому человеку.
          .col-xs-12.col-sm-4
            .box.box-container
              .row
                .col-xs-12.center-xs
                  p.price Стоимость {{ price }} ₽
              .row
                .col-xs-12.center-xs.description_btn
                  a.atm-btn-reserved.reserved-btn(type="_blank", data-reserve='#{id}') ЗАПИСАТЬСЯ
  | {% if list_imgs %}
  section.page_photogallery.alternation-section
    .container
      .row
        .col-xs-12
          .atm-section-header.font-medium Фотографии с мастеркласса
      .row
        | {% for item in list_imgs %}
        .col-xs-6.col-md-3
          .img-container
            .img(style="background-image: url('#{item}')")
        | {% endfor %}
  | {% endif %}
  | {% if video_link %}
  section.atm-video-section.alternation-section
    .container
      .row
        .col-xs-12
          .atm-section-header.font-medium Видео с мастеркласса
      .row.center-xs
        .col-xs-12.col-sm-6
          .atm-video-player-container
            | {% video  video_link '640x480' %}
  | {% endif %}
  - var list_feedbacks = list_feedbacks
  | {% if list_feedbacks %}
  section.atm-school-feedback.alternation-section
    .container
      .row
        .col-xs-12
          .atm-section-header.font-medium Отзывы учеников
      .row.cetner-md

        | {% for item in list_feedbacks %}
        +feedback(item.user_img, item.user_name, item.user_feedback, item.user_vklink)
        | {% endfor %}
  | {% endif %}
  //- section.alternation-section
  //-   include includes/feedback_inc.pug