| {% load staticfiles %}
.row
  .col-xs-12
    .container.team
      .row
        .photo.col-xs-12.col-sm-8
          img(src="{% static 'images/team.png' %}")
        .description.col-xs-12.col-sm-4
          h1 НАША КОМАНДА
          p Да, а на фото часть нашей дружной команды. Именно мы радуем Вас дружеской обстановкой и хорошим настроением! Это мы Вас встречаем радушно чаем и печеньками. Мы любим Вас и всегда ждём в нашей тёплой, уютной студии!