extends base
| {% load staticfiles %}
include mixins/mixins.pug
prepend page
  - var title = "Полезное"
block content
  section
    .container.page_mainheader
      .row
        .col-md-7
          img#desc_image
        .col-md-5.description
          .description__title
            h1#title.title
          .description__text
            p#main_text.desc

  section
    .container.plate_container
      .row
        .col-xs#useful_plates

  block append scripts
    script(src="{% static 'javascripts/usefulchange.js' %}")