extends base
| {% load staticfiles %}
include mixins/mixins.pug
prepend page
  - var title = "Полезное"
block content
  section
    .container.page_mainheader
      .row
        .col-md-7
          img#desc_image
        .col-md-5.description
          h1#title
          // КАК <br> ПОДГОТОВИТЬСЯ <br> К СЪЕМКЕ
          p#main_text

  section
    .container.plate_container
      .row
        .col-xs
          each item in plate_desc
            +plate(item.image, item.header, item.plate_text, 'plate_left-align')
