.plate {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(209, 209, 209, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1', GradientType=1);
  padding: 20px;
  margin-bottom: 15px;
  .plate__img-preview {
    min-height: 400px;
    height: 400px;
    max-height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .plate__description {
    font-family: 'MontserratLight';
    color: gray;
    margin-left: 30px;
    margin-right: 30px;
    .header {
      font-size: 40px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
  &.plate_left-align {
    .plate__img {
      order: 0;
    }
  }
  &.plate_right-align {
    .plate__img {
      order: 1;
    }
  }
}