// FONTS
@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}