
/* FOOTER */
section#footer {
  background-color: $cl-main-gray;
  padding-bottom: 17px;
}
footer {
  background-color: $cl-half-black;
  color: $cl-default-text;
  padding: 2em;
  
  .header {
    margin-bottom: 2em;
    font-size: 1.3em;
  }
  .content {
    font-family: $main-font;
    font-weight: 200;
  }
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .atm-socials {
    .content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
        padding: .5em;
        &:first-child {
          padding-left: 0;
        }
        // margin: 15px 1.1em 15px 0;
      }
    }
  }
  .atm-site-map {
    margin-left: 20px;
    margin-right: 20px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        font-size: 1em;
        flex-basis: 33.33333%;
        font-weight: 100;
        text-align: left;
        list-style: none;
      }
    }
  }
  .atm-contacts {
    .content {
      flex-direction: column;
      flex-wrap: nowrap;
      font-family: $main-font;
      font-weight: 200;
      & > div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 15px;
      }
      .big-text {
        font-size: 1.3em;
        font-family: $main-font;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px){

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}