
/* FOOTER */
footer {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 50px;
  background-color: $cl-elements-gray;
  font-family: Comfortaa;
  font-weight: 400;
  color: $cl-default-text;
  
  .section {
    .header {
      margin-bottom: 1em;
      text-align: left;
    }
    .content {
      font-size: .7em;
      a {
        text-decoration: none;
        color: $cl-default-text;
        transition: all 0.3s;
        &:hover {
          color: rgb(236, 236, 236);
          transform: scale(1.3);
        }
      }
    }
  }
  .atm-socials {
    .content {
      a {
        margin: 15px;
        margin-left: 0;
        font-size: 3em;
      }
    }
  }
  .atm-site-map {
    text-align: center;
    ul {
      li {
        text-align: left;
        list-style: none;
      }
    }
  }
  .atm-contacts {
    .content {
      & > div {
        margin-top: 15px;
      }
      .big-text {
        font-size: 1.3em;
      }
    }
  }
  // .header {
  //   font-size: 1.25em;
  // }
  // .content {
  //   font-size: 1.2em;
  // }
  // & a {
  //   text-decoration: none;
  //   color: #FFFFFF;
    
  //   padding-right: 7px;
  //   transition: all 0.3s;

  //   &:hover {
  //     color: rgb(236, 236, 236);
  //     transform: scale(1.3);
  //   }
  // }
  // & .fa {
  //   font-size: 1.5em;
  //   text-decoration: none;
  //   margin: 15px;
  //   margin-left: 0;
  // }
  
  // .phone {
  //   color: #FFFFFF;
  //   letter-spacing: 3px;
  //   padding-top: 5px;
  // }
}

// footer a {
//   text-decoration: none;
// }

// footer ul {
//   padding-left: 0;
// }

// footer .site-map-ul,
// footer .address {
//   padding: 10px 0 0 0;
//   font-size: .875em;
// }

// footer .phone {
//   padding: 0;
// }

// footer li{
//   list-style-type: none;
// }