.graduations_checkbtn {
  //   background-image: url("../images/bg/garduations-checkbtn-bg.png");
  //   background-image: url("../images/bg/main-bg-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}