.graduations_checkbtn {
    // background-color: gray; // background-image: url("../images/bg/garduations-checkbtn-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}