@import "navigation";

#atm-header {
  z-index: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;

  .parallax-content.parallax-img {
    background-image: url('../images/fon1.png');
    background-size: cover;
  }
  .atm-slogan {
    z-index: 1;
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: 3em;
    padding-right: 1.5em;
    top: 3em;
    border-right: 7px solid $cl-elements-gray;
    span {
      font-size: 2.4em;
      color: #fff;
    }
  }
}