@import "navigation";

#atm-header {
  position: relative;
  // z-index: 1;
  overflow: hidden;
  
  height: 100vh;
  
  .parallax-content.parallax-img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('../images/header/header-background.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  .atm-slogan {
    margin-top: 10vh;
    z-index: 2;
    text-align: right;
    .content {
      border-right: 7px solid $cl-atm-red;
      margin-right: 1.5em;
      padding-right: 1em;
      
      span {
        font-family: $main-font;
        font-weight: 500;
        text-shadow: 0px 0px 50px #000000;
        font-size: 2.4em;
        color: #fff;
      }
    }
  }
}
@media (max-width: 768px) {
  .atm-slogan {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .atm-slogan {
    font-size: 1em;
  }
}

@media (min-width: 992px) {

}