@import "reset";
@import "fonts";

@import "variable";

body {
  font-family: $main-font, sans-serif;
  position: relative;
  overflow: hidden;
}
a {
  transition: color .5s ease;
  &:hover {
    color: #C7C7C7;
  }
  &:focus {
    background-color: transparent;
  }
}

@import "parallax";
@import "preloader";
@import "header";
@import "main-content";
@import "team";
@import "footer";
@import "media-requests";


