@import "reset";
@import "fonts";

@import "variable";

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  overflow: hidden;
}
a {
  transition: color .5s ease;
  &:hover {
    color: #C7C7C7 !important;
  }
  &:focus {
    background-color: transparent;
  }
}
.parallax-content.parallax-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: top center;
}


@import "preloader";
@import "header";
@import "main-content";
@import "team";
@import "footer";
@import "media-requests";


