// MEDIA REQUESTS FOR ALL DISPLAY TYPES
$flex_margin: 15px;

.container {
  max-width: 1192px;
}
// .flex-container-fluid {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
//   flex-wrap: wrap;
// }
// .flex-container {
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
//   max-width: 960px;
//   margin: 0 auto;
//   flex-wrap: wrap;
//   & > * {
//     flex-basis: 100%;
//   }
// }
// .flex-grow {
//   flex-grow: 1;
// }
@media (max-width: 768px){
  body {
    font-size: 10px;
  }
  .flex-container {
    width: 98%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 12px;
  }
  .flex-container {
    width: 750px;
  }

}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 14px;
  }
  .flex-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 16px;
  }
  .flex-container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .plate_container {
    .col-md-3:nth-child(2) {
      flex-basis: 50%;
      max-width: 50%;
    }
    .col-md-3:nth-child(4n) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
}

/** EMPTY MEDIA REQ
@media (max-width: 768px){
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
*/