/** NAVIGATION */

$size-socials-btn: 1.5em;

header {
  z-index: 1;
  width: 100%;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  background-color: rgba(91, 91, 91, 0.9);
  padding: 1em;
  margin-bottom: $size-socials-btn * 2;

  .atm-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
    }
  }
  .atm-main-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    li {
      display: flex;
      a {
        text-align: center;
        flex-basis: 100%;
        color: #FFF;
        text-decoration: none;
        padding: 10px;
      }
    }
  }
  .atm-address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #C7C7C7;

    .city {
      font-size: 1.5em;
      font-family: Comfortaa;
      font-weight: 700;
      .fa-map-marker {
        color: #EA423E;
        font-size: 1.5em;
        margin-right: 5px;
      }
    }
    .street {
      border-bottom: 2px solid #C7C7C7;
      font-size: 1em;
      padding-bottom: 3px;
    }
    .phone {
      text-align: right;
      color: white;
      font-size: 1em;
      letter-spacing: 5px;
      padding-top: 5px;
      .fa {
        margin-right: 5px;
      }
    }
  }
  .atm-socials {
    position: absolute;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    font-size: 1.5em;
    right: 20px;
    bottom: -$size-socials-btn + 0.3em;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      margin: 5px;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    flex-wrap: wrap;
    .atm-logo {
      img {
        width: 40%;
      }
    }
    .atm-main-menu {
      justify-content: space-between;
    }
    .atm-address {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      .phone {
        text-align: center;
        flex-basis: 100%;
        padding: 1em;
      }
    }
    .atm-socials {
      position: relative;
      bottom: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .atm-main-menu {
    flex-basis: 50%;
    li {
      flex-basis: 100%;
    }
  }
}
@media (min-width: 768px) {
  nav {
    .atm-socials {
      a {
        border-radius: 3px;
        background-color: $cl-elements-gray;
        width: $size-socials-btn;
        height: $size-socials-btn;
      }
    }
  }
}
@media (min-width: 992px) {
  nav {
    .atm-main-menu {
      li {
        a {
          border-right: 1px solid #FFFFFF;
          border-bottom: none;
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
}