/** NAVIGATION */

$size-socials-btn: 2em;

header {
  z-index: 2;
  position: relative;
}
nav {
  position: relative;
  z-index: 1000;
  
  font-family: $main-font;
  color: $cl-default-text;
  
  background-color: $cl-half-black;
  padding: 15px;
  margin-top: 0;

  .atm-logo {
    text-align: center;
    img {
      width: 75%;
    }
  }
  .atm-main-menu {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 15px;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 25%;
      padding: 1em;
      border-right: 2px solid #FFFFFF;
      &:last-child {
        border-right: none;
      }
      a {
        cursor: pointer;
        color: $cl-default-text;
        text-decoration: none;
      }
    }
  }
  .atm-address {
    .pics {
      text-align: center;
    }
    .desc {
      align-self: center;
    }
    .city {
      font-size: 2em;
      font-weight: 200;
      .pics {
        img {
          width: 100%;
        }
      }
      span {
        display: block;
        letter-spacing: 3px;
      }
    }
    .street {
      font-weight: 100;
      font-size: 13px;
    }
    .phone {
      span {
        letter-spacing: 0.29em;
      }
    }
    i {
      text-align: center;
      min-width: 20px;
      &.fa-map-marker {
        color: $cl-atm-red;
      }
      &.fa-home {
        font-size:1.3em;
      }
    }
  }
}
.atm-socials {
  // position: absolute;
  // display: flex;
  // align-items: stretch;
  // justify-content: flex-end;
  font-size: 1.5em;
  // right: 20px;
  // bottom: -$size-socials-btn;
  padding-right: 20px;
  .atm-socials-container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    a {
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      margin-left: 10px;
      text-decoration: none;
      
      width: $size-socials-btn;
      height: $size-socials-btn;
      
      background-color: $cl-socials-gray;
      & > .fa {
        z-index: 10;
      }
      & > .chain {
        position: absolute;
        z-index: 9;
        width: 0;
        height: 0;
        border-top: $size-socials-btn solid $cl-socials-gray;
        border-left: $size-socials-btn / 2 solid transparent;
        border-right: $size-socials-btn / 2 solid transparent;
        left: -$size-socials-btn / 2;
      }
    }
  }
}

@media (max-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}