
.background-paralax img {
  width: 100%;
}
.background-paralax .slogan {
  position: absolute;
  width: 100%;
  clear: both;
  top: 30%;
  opacity: 0;
  /* right: -100%; */
  /* transition: right 1s ease-in; */
}
.background-paralax .content {
  float: right;
  clear: both;
  text-align: right;
  border-right: 7px solid #424141;
  padding-right: 1em;

  color: #FFFFFF;
  font-weight: bolder;
  font-size: 32px;
  font-family: Comfortaa;
  font-weight: 700;
}

.main-content {
  z-index: 1000;
  padding-top: 70px;
  padding-bottom: 120px;
}