.background-paralax {
  border: 1px solid gray;
  position: relative;
  background: url('../images/fon1.png') no-repeat center;
  background-size: 120%;
  .slogan {
    position: absolute;
    width: 100%;
    top: 30%;
    opacity: 0;
    span {
      margin-right: 30px;
    }
    /* right: -100%; */
    /* transition: right 1s ease-in; */
  }
}
.background-paralax .content {
  float: right;
  clear: both;
  text-align: right;
  border-right: 7px solid #424141;
  padding-right: 1em;

  color: #FFFFFF;
  font-weight: bolder;
  font-size: 32px;
  font-family: Comfortaa;
  font-weight: 700;
}

.main-content {
  z-index: 1000;
  padding-top: 70px;
  padding-bottom: 120px;
}