/* Preloader */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;

  background: $cl-main-gray url('../images/preloader_logo.png') no-repeat center center;
}