// /** SCENERY-CAROUSEL */
section#scenery {
  position: relative;
  z-index: 2;
  margin-top: -60px;
  .content {
    overflow: hidden;
  }
}

$carousel-padding: 60px 25px;
#scenery-carousel {
  position: relative;
  overflow: hidden;
  padding: $carousel-padding;
  padding-bottom: 0; // background-color: rgba(33, 33, 31, .65);
  background: -moz-linear-gradient(left, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 0.85) 5%, rgba(31, 31, 31, 0.85) 15%, rgba(31, 31, 31, 0.85) 85%, rgba(31, 31, 31, 0.85) 95%, rgba(31, 31, 31, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 0.85) 5%, rgba(31, 31, 31, 0.85) 15%, rgba(31, 31, 31, 0.85) 85%, rgba(31, 31, 31, 0.85) 95%, rgba(31, 31, 31, 0) 100%);
  background: linear-gradient(to right, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 0.85) 5%, rgba(31, 31, 31, 0.85) 15%, rgba(31, 31, 31, 0.85) 85%, rgba(31, 31, 31, 0.85) 95%, rgba(31, 31, 31, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001f1f1f', endColorstr='#001f1f1f', GradientType=1);
  .content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20vh;
    min-height: 400px;
    list-style: none;
    .item {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &:nth-child(1) {
        background-image: url("../images/scenery/1.jpg");
      }
      &:nth-child(2) {
        background-image: url("../images/scenery/2.jpg");
        left: 100%;
      }
      &:nth-child(3) {
        background-image: url("../images/scenery/3.jpg");
        left: 200%;
      }
    }
  }
  .carousel-indicators {
    // height 76px
    $indicators-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px; // padding-top: 23px;
    // margin-bottom: -23px;
    ol {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        display: inline-block;
        cursor: pointer;
        background-color: #FFFFFF;
        width: $indicators-size;
        height: $indicators-size;
        margin-left: $indicators-size;
        transition: background-color 1s ease;
        &:first-child {
          margin-left: 0;
        }
        &.active {
          background-color: #EA423E;
        }
        &:hover {
          background-color: #c7c7c7;
          &.active {
            background-color: rgb(177, 48, 46);
          }
        }
      }
    }
  }
  .carousel-control {
    font-size: 33px;
    cursor: pointer; // position: absolute;
    // display: flex;
    // align-items: center;
    // text-decoration: none;
    // color: #fff;
    // padding-left: 50px;
    // padding-right: 50px;
    // height: 100%;
    &.left {
      left: $carousel-padding;
    }
    &.right {
      right: $carousel-padding;
    }
    .fa-chevron-left,
    .fa-chevron-right {
      font-size: 40px;
    }
  }
}