.atm-school-description {
  line-height: 2em;
}

.atm-school-p {
  text-indent: 1em;
  text-align: justify;
  margin-top: 1.1em;
  font-size: 1.2em;
}

.atm-section-header {
  font-size: 2.7em;
  line-height: 1.4em;
  text-transform: uppercase;
}

.atm-school-reason {
  background-color: white;
  color: black;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;

  .reason-container {
    margin-top: 2em;
  }

  .reason-head {
    font-size: 1.2em;
    line-height: 2em;
    text-transform: uppercase;
  }

  .reason {
    // margin-top: 1.1em;
    font-size: 1.1em;
    line-height: 2em;
  }
}

.atm-school-program-container {
  .description {
    font-size: 1.2em;
    line-height: 2em;
  }

  .fillingbg {
    position: relative;
    margin-top: 4em;
    margin-bottom: 4em;
    height: 4em;
    background-image: url("../images/logo_80x80.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; // opacity:;

    hr:first-child {
      position: absolute; //font-size: 3px;
      width: 45%;
      float: left;
      border: 1px solid lightblue;
      transform: transateY(50%);
      -webkit-transform: transateY(50%);
      -moz-transform: transateY(50%);
      -ms-transform: transateY(50%);
      -o-transform: transateY(50%);
    }

    hr:last-child {
      position: absolute; //font-size: 3px;
      width: 45%;
      float: right;
      border: 1px solid lightblue;
      transform: transateY(50%);
      -webkit-transform: transateY(50%);
      -moz-transform: transateY(50%);
      -ms-transform: transateY(50%);
      -o-transform: transateY(50%);
    }
  }

  .atm-school-programm__block {
    .atm-school-programm__block_header {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 2em;
    }

    .atm-school-programm__block_subheader {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1.5em;
    }

    .atm-school-programm__block_description {
      font-size: 1.2em;
      line-height: 2em;
    }

    // margin-top: 2em;
    // .header {
    //   text-align: center;
    //   font-size: 2em;
    // }
    // .atm-school-program__header {
    //   margin-top: 1.5em;
    //   font-size: 1.3em;
    //   font-weight: bold;
    // }
    // .atm-school-program__p {
    //   text-indent: 1em;
    //   line-height: 1.1em;
    //   margin-top: 1em;
    // }
  }

  .atm-school-programm__block_lecture {
    margin-top: 2em;
    text-align: justify;

    .lecture__header {
      position: relative;
      font-size: 1.5em;
      margin-bottom: 1em;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        border-top: 3px solid rgb(178, 31, 36);
        left: 50%;
        transform: translateX(-50%);
        width: 100%; //transition: width .2s ease-in;
        // -webkit-transform: translateX(-50%);
        // -moz-transform: translateX(-50%);
        // -ms-transform: translateX(-50%);
        // -o-transform: translateX(-50%);
      }
    }

    .lecture__description {
      font-size: 1.3em;
      line-height: 2em;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: justify;
    }

    .lecture__teacher {
      margin-top: 1em;
    }
  }
}

.atm-school-constructor {
  .atm-school-constructor-description {
    line-height: 1.5em;
    font-size: 1.3em;
    margin-top: 1.5em;
    text-align: justify;

    p::first-letter {
      margin-left: 2em;
    }
  }

  .atm-school-constructor-price {
    line-height: 2em;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .atm-school-constructor-date {
    line-height: 1.5em;
    // font-size: 1.3em;
    margin-top: 1.5em;
    // text-align: justify;
  }
}

/* FIXME - нуждно один стиль для всех дескриптион*/
.atm-school-question {
  .description {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    line-height: 1.5em;

    .description__text {
      text-align: center;
    }
  }

  // font-size: 2em;
}

.atm-school-feedback {
  .feedback {
    margin-top: 3em;
  }

  .img-container {
    float: left;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 2em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .atm-school-feedback__text {
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;

    &::first-letter {
      margin-left: 2em;
    }
  }
}