/* TEAM */
.our-team {
  background-image: url('../images/fon3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 15px;
  padding-top: 70px;
  font-family: Comfortaa;
  font-weight: 400;
}
.team {
  color: #d9d9d9;
  margin-bottom: 30px;
  h2 {
    font-size: 120%;
    margin-bottom: 10px;
  }
}