/* TEAM */

#our-team {
    position: relative;
    z-index: 4;
    padding-bottom: 2em;
    padding-top: 90px;
    .photo {
        img {
            width: 100%;
        }
    }
    // .description {
    //     // padding-left: 35px; // padding-right: 3em;
    //     font-family: 'MontserratLight';
    //     color: #FFFFFF;
    //     h1 {
    //         font-size: 30px;
    //         letter-spacing: 9px;
    //         margin-bottom: 45px;
    //     }
    //     p {
    //         font-size: 18px;
    //         line-height: 30px;
    //     }
    // }
}

@media (max-width: 768px) {}