#atm-header-slogan-section {
  position: relative;
  min-height: 750px;
  .parallax-img {
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0; // margin-left: -10px;
    // margin-right: -10px;
    // padding: 0;
    // max-width: inherit;
    background-image: url('../images/header/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .atm-header-img-container {
    // margin-left: -10px;
    // margin-right: -10px;
    overflow: hidden;
    max-height: 750px;
    .parallax-img {
      width: 100%;
      height: 100%;
      background-image: url('../images/header/background_compressed.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    } // .atm-header-img-container
  }
  .atm-slogan {
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 3;
    .slogan {
      border-right: 7px solid $cl-atm-red;
      text-align: right;
      span {
        display: inline-block;
        padding-right: 48px;
        line-height: 1.5em;
        font-family: $main-font;
        font-weight: 500;
        text-shadow: 0px 0px 50px #000000;
        font-size: 2.6em;
        color: #fff;
      }
    }
  }
}

@media (max-width: 768px) {
  .atm-slogan {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .atm-slogan {
    font-size: 1em;
  }
}