#lifephoto {
  .livephoto-img {
    margin-top: -78px;
    height: 550px;
    background-image: url("../images/bg/atmsteam_oneimg.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
}